.tabs {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}

.tabs button {
	padding: 10px;
	cursor: pointer;
	background: #D9A648;
	border: none;
	border-radius: 5px;
}

.tabs button:hover,
.tabs button:focus {
	background: #D97941;
}